/* --- GENERAL --- */
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    width: 1280px;
    height: 900px;
    overflow: hidden;
    background: #0a0a0a;
    color: white;
    font-family: "Inter", sans-serif;
}

/* --- HEADER --- */
#header {
    width: 100%;
    height: 70px;
    background: #111;
    border-bottom: 1px solid #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
}

#header-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

#logo {
    font-size: 26px;
    color: #ffae00;
}

#title {
    font-size: 22px;
    font-weight: 500;
}

#header-right button {
    padding: 7px 18px;
    background: #222;
    border: 1px solid #333;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

#header-right button:hover {
    background: #333;
}

/* --- STATS --- */
#stats {
    width: 100%;
    height: 90px;
    padding: 10px 20px;
    background: #0d0d0d;
    border-bottom: 1px solid #222;
    display: flex;
    gap: 14px;
}

.box {
    flex: 1;
    height: 100%;
    background: #111;
    border: 1px solid #222;
    border-radius: 10px;
    padding: 10px;
    font-size: 13px;
    text-align: center;
    color: #ccc;
}

.box span {
    font-size: 20px;
    font-weight: 600;
    color: white;
    display: block;
    margin-top: 4px;
}

/* --- CHART --- */
#chart {
    width: 79rem;
    height: 41rem;
    display: block;
    background: black;
    border-top: 1px solid #222;
}